{% extends "base.html" %}
{% block title %}系统通知 - {{ info.title }}{% endblock %}
{% block main %}
    <div id="content">
        <div class='panel'>
            <div class="header">
                <ul class="breadcrumb">
                    <li><a href="/">主页</a><span class="divider">/</span></li>
                    <li><a href="/info">通知</a><span class="divider">/</span></li>
                    <li class='active'>查看通知</li>
                </ul>
                <div class="header">

                    <div class='header topic_header'>
                        <form id='reply_form' action="{{ url_for('info.delete',token=token) }}" method="post">
                        <input type="hidden" name="info_id" value="{{ info.id }}">

                        <div class='editor_buttons'>
                            <input class='span-primary submit_btn' type="submit" style="background-color: #da4f49"
                                   value="删除通知">
                        </div>
                    </form>
                        <span class="topic_full_title">{{ info.title }}
                        </span>
                        <div class="changes">
                            <span>发送时间 {{ info.created_time | format_time }}</span>
                        </div>
                    </div>

                    <div class='inner topic'>
                        <div class='topic_content'>
                           {{ info.content }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}